# Core dependencies
pip==23.3; sys_platform == 'darwin'
wheel; sys_platform == 'darwin'
PyYAML; sys_platform == 'darwin'
numpy==1.23.5
requests==2.32.0
tqdm
wget
pydantic==2.8.2
fastapi==0.112.0
starlette==0.37.2

# Audio processing
ffmpeg-python>=0.2.0
faiss-cpu==1.7.3
librosa==0.9.2
pyworld==0.3.4
scipy==1.11.1
soundfile==0.12.1
praat-parselmouth
noisereduce
audio_upscaler==0.1.4
pedalboard

# Machine learning and deep learning
omegaconf==2.0.5; sys_platform == 'darwin'
numba; sys_platform == 'linux'
numba==0.57.0; sys_platform == 'darwin' or sys_platform == 'win32'
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
torchcrepe==0.0.23
torchfcpe
einops
libf0
transformers==4.44.2

# Visualization and UI
matplotlib==3.7.2
tensorboard
gradio==4.43.0

# UVR
samplerate==0.1.0
six>=1.16
pydub>=0.25
onnx>=1.14
onnx2torch>=1.5
onnxruntime>=1.17; sys_platform != 'darwin'
onnxruntime-gpu>=1.17; sys_platform != 'darwin'
julius>=0.2
diffq>=0.2
ml_collections
resampy>=0.4
beartype==0.18.5
rotary-embedding-torch==0.6.1
