# General dependencies
beautifulsoup4
ffmpeg-python>=0.2.0
numpy==1.23.5
requests
tqdm
wget

# Audio processing
faiss-cpu==1.7.3
librosa==0.9.1
pydub==0.25.1
pyworld==0.3.4
praat-parselmouth==0.4.2
resampy==0.4.2
scipy==1.11.1
sounddevice==0.4.6
soundfile==0.12.1
torchaudio==2.0.1

# Machine learning
fairseq==0.12.2
numba; sys_platform == 'linux'
numba==0.56.4; sys_platform == 'win32'
onnxruntime
onnxruntime_gpu==1.15.1
torch==2.0.0
torchcrepe==0.0.21
torchgen>=0.0.1
torch_directml
torchvision==0.15.1

# Visualization
matplotlib==3.7.2
tensorboard

# Miscellaneous
ffmpy==0.3.1
git+https://github.com/lanpa/tensorboardX
git+https://github.com/wkentaro/gdown.git
requests==2.31.0